# 01 - Request OOI data

We will import the OOI Irminger Sea CTD Cast and Discrete Water Sample Summary dataset from a NetCDF on the BCO-DMO ERDDAP server. 

More info about the BCO-DMO ERDDAP server can be found at: https://guide.bco-dmo.org/access-and-reuse/erddap

911407_v1_ooi_irminger_sea_discrete_water_sampling_data.csv

In [1]:
import pandas as pd

In [2]:
# Import OOI data to the workspace using the
# ERDDAP link to the public dataset CSV, 
# and display the first 5 rows of the table.
ooi_so = pd.read_csv(
    "https://erddap.bco-dmo.org/erddap/files"
    "/bcodmo_dataset_923545_v1"
    "/923545_v1_ooi_southern_ocean_discrete"
    "_water_sampling.csv"
)
ooi_so.head()

,Cruise,Station,Target_Asset,Start_Latitude,Start_Longitude,Start_Time,Cast,Cast_Flag,Bottom_Depth_at_Start_Position,CTD_File,...,Discrete_pH_Replicate_Flag,Calculated_Alkalinity,Calculated_DIC,Calculated_pCO2,Calculated_pH,Calculated_CO2aq,Calculated_Bicarb,Calculated_CO3,Calculated_Omega_C,Calculated_Omega_A
0,AT26-29,1,release test,-53.014667,-77.3035,2015-02-13T19:15:31.000Z,1,*0000000000000100,4051.0,at2629001.hex,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1,AT26-29,1,release test,-53.014667,-77.3035,2015-02-13T19:15:31.000Z,1,*0000000000000100,4051.0,at2629001.hex,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2,AT26-29,1,release test,-53.014667,-77.3035,2015-02-13T19:15:31.000Z,1,*0000000000000100,4051.0,at2629001.hex,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
3,AT26-29,1,release test,-53.014667,-77.3035,2015-02-13T19:15:31.000Z,1,*0000000000000100,4051.0,at2629001.hex,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
4,AT26-29,1,release test,-53.014667,-77.3035,2015-02-13T19:15:31.000Z,1,*0000000000000100,4051.0,at2629001.hex,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

In [3]:
# # Import OOI data to the workspace using the
# # ERDDAP link to the public dataset CSV, 
# # and display the first 5 rows of the table.
# ooi_is = pd.read_csv(
#     "https://erddap.bco-dmo.org/erddap/files"
#     "/bcodmo_dataset_911407_v1"
#     "/911407_v1_ooi_irminger_sea_discrete"
#     "_water_sampling.csv"
# )
# ooi_is.head()

In [ ]:
# Print a list of the 80 columns in the Dataframe
ooi_so.columns

Index(['Cruise', 'Station', 'Target_Asset', 'Start_Latitude',
       'Start_Longitude', 'Start_Time', 'Cast', 'Cast_Flag',
       'Bottom_Depth_at_Start_Position', 'CTD_File', 'CTD_File_Flag',
       'Niskin_Bottle_Position', 'Niskin_Flag', 'CTD_Bottle_Closure_Time',
       'CTD_Pressure', 'CTD_Pressure_Flag', 'CTD_Depth', 'CTD_Latitude',
       'CTD_Longitude', 'CTD_Temperature_1', 'CTD_Temperature_1_Flag',
       'CTD_Temperature_2', 'CTD_Temperature_2_Flag', 'CTD_Conductivity_1',
       'CTD_Conductivity_1_Flag', 'CTD_Conductivity_2',
       'CTD_Conductivity_2_Flag', 'CTD_Salinity_1', 'CTD_Salinity_2',
       'CTD_Oxygen', 'CTD_Oxygen_Flag', 'CTD_Oxygen_Saturation',
       'CTD_Fluorescence', 'CTD_Fluorescence_Flag', 'CTD_Beam_Attenuation',
       'CTD_Beam_Transmission', 'CTD_Transmissometer_Flag', 'CTD_pH',
       'CTD_pH_Flag', 'Discrete_Oxygen', 'Discrete_Oxygen_Flag',
       'Discrete_Oxygen_Replicate_Flag', 'Discrete_Chlorophyll',
       'Discrete_Phaeopigment', 'Discrete_Fo_Fa_Ratio',
       'Discrete_Fluorescence_Flag', 'Discrete_Fluorescence_Replicate_Flag',
       'Discrete_Phosphate', 'Discrete_Silicate', 'Discrete_Nitrate',
       'Discrete_Nitrite', 'Discrete_Ammonium', 'Discrete_Nutrients_Flag',
       'Discrete_Nutrients_Replicate_Flag', 'Discrete_Salinity',
       'Discrete_Salinity_Flag', 'Discrete_Salinity_Replicate_Flag',
       'Discrete_Alkalinity', 'Discrete_Alkalinity_Flag',
       'Discrete_Alkalinity_Replicate_Flag', 'Discrete_DIC',
       'Discrete_DIC_Flag', 'Discrete_DIC_Replicate_Flag', 'Discrete_pCO2',
       'pCO2_Analysis_Temp', 'Discrete_pCO2_Flag',
       'Discrete_pCO2_Replicate_Flag', 'Discrete_pH', 'pH_Analysis_Temp',
       'Discrete_pH_Flag', 'Discrete_pH_Replicate_Flag',
       'Calculated_Alkalinity', 'Calculated_DIC', 'Calculated_pCO2',
       'Calculated_pH', 'Calculated_CO2aq', 'Calculated_Bicarb',
       'Calculated_CO3', 'Calculated_Omega_C', 'Calculated_Omega_A'],
      dtype='object')

In [ ]:
metadata_col = [
    "Cruise", "Station", "Cast", ""
]
bgc_vars = ["pH", "Nitrite", "Nutrients", "Fluor",
            "Temperature", "Salinity", "Oxygen",
            "Chlorophyll"]